.bg {
  background: linear-gradient(71.17deg, #feaf00 19.35%, #f8d442 90.12%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  form {
    width: 476px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    padding: 42px 30px;
    text-align: center;

    img {
      width: 151px;
      margin-bottom: 43px;
      margin-inline: auto;
    }
    h1 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 9px;
    }
    span {
      font-size: 14px;
      color: #6c6c6c;
      margin-bottom: 50px;
    }
    label {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 500;
      color: #6c6c6c;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      div {
        display: flex;
        gap: 24px;

        &.fileUploader {
          cursor: pointer;
          align-items: center;
          justify-content: center;
          border: 1px dashed #384eb74d;
          width: 100px;
          height: 100px;
          border-radius: 4px;
          margin-top: 17px;
          background-color: #f8f8ff;
        }
      }
      input {
        width: 100%;
        margin-top: 10px;
        border-radius: 4px;
        padding: 15px;
        border: 1px solid #e5e5e5;
        background: none;
        outline: none;

        &::placeholder {
          color: #cdcdcd;
        }
      }
    }
    button {
      margin-top: 10px;
      background-color: #feaf00;
      color: white;
      font-weight: 500;
      padding-block: 14px;
      border-radius: 4px;
      outline: none;
      margin-bottom: 27px;
      border: none;
      cursor: pointer;
    }
    p {
      font-size: 14px;
      font-weight: 500;
      a {
        color: #feaf00;
        font-weight: 600;
      }
    }
  }
}
